<head>
  <title><%= @fandom.name %> Works</title>
</head>
<div class="main">
  <div class="container">
  <h2>Fandoms</h2>
  	<div class="fandom">
  		<h1><%= @fandom.name %></h1>
  	</div>
    <div class="characters">
      <% @fandom.characters.each do |character| %>
        <h5><%= character.name %></h5>
      <% end %>
    </div>
    <div class="filter">
      <h6>Filter</h6>
    </div>
  	<% @works.each do |work| %>
      <div class="work-info">
        <p id="title-author"><%= link_to work.title, work_path(work, work.chapter_id) %> by <%= link_to User.find(work.user_id).username, user_path(work.user_id) %></p>
        <p id="fandom"><%= link_to @fandom.name, fandom_path(@fandom) %></p>
        <p id="description"><%= work.description %></p>
        <p id="stats">Updated on: <%= work.updated_at.strftime("%d %b %y") %> Uploaded on: <%= work.created_at.strftime("%d %b %y") %></p>
      </div>
    <% end %>
  </div>
</div>